.App{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (min-width: 320px) and (max-width: 767px) {
    .App{
        display: grid;
        grid-template-columns: 1fr;
    }
    
   
    
  }